@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@300;400&display=swap');

.menu-navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(18, 81, 197);
    align-items: center;
    height: 100px;
}

.menu-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    align-items: center;
}

.menu-list{
    width: 130px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.menu-list:hover{
    color:rgb(255, 153, 0)
}